altair==5.0.1
attrs==23.1.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
dragonfly-core==1.41.53
dragonfly-doe2==0.11.3
dragonfly-energy==1.23.76
dragonfly-radiance==0.2.100
dragonfly-schema==1.9.4
dragonfly-uwg==0.5.390
fonttools==4.42.1
gitdb==4.0.10
GitPython==3.1.32
honeybee-core==1.56.26
honeybee-display==0.2.19
honeybee-energy==1.101.15
honeybee-energy-standards==2.2.6
honeybee-radiance==1.65.32
honeybee-radiance-command==1.22.2
honeybee-radiance-folder==2.11.11
honeybee-radiance-postprocess==0.4.267
honeybee-schema==1.53.4
honeybee-standards==2.0.6
honeybee-vtk==0.39.1
idna==3.4
importlib-metadata==6.8.0
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
ladybug-comfort==0.16.46
ladybug-core==0.42.2
ladybug-display==0.10.1
ladybug-geometry==1.28.9
ladybug-geometry-polyskel==1.4.28
ladybug-radiance==0.2.3
lbt-dragonfly==0.10.277
lbt-honeybee==0.7.332
lbt-ladybug==0.27.39
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
numpy==1.25.2
opencv-python==4.8.0.76
packaging==23.1
pandas==2.0.3
Pillow==9.5.0
pollination-streamlit-viewer==0.5.0
protobuf==4.24.1
pyarrow==13.0.0
pydantic==1.10.12
pydantic-openapi-helper==0.2.11
pydeck==0.8.0
Pygments==2.16.1
Pympler==1.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
referencing==0.30.2
requests==2.31.0
rich==13.5.2
rpds-py==0.9.2
six==1.16.0
smmap==5.0.0
streamlit==1.26.0
tenacity==8.2.3
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.4
uwg==5.8.12
validators==0.21.2
vtk==9.2.6
watchdog==3.0.0
zipp==3.16.2
